<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<include resource="org/springframework/boot/logging/logback/base.xml"/>

	<springProfile name="debug">
		<logger name="com.epam.jmp.d2.y2018" level="DEBUG"/>
		<logger name="org.springframework" level="DEBUG"/>
	</springProfile>

	<springProfile name="release">
		<logger name="com.epm.jmp.d2.y2018" level="WARN"/>
		<logger name="org.springframework" level="WARN"/>
	</springProfile>

</configuration>